# Inspired by https://www.gitignore.io

### Linux ###
*~
.directory
.Trash-*


### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Node ###
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
build/Release

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


### grunt ###
.grunt
dist/
.tmp/


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp
